<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MultiShop - Online Shop Website Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- admin -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <% if(admin) { %>
        <!-- Font Awesome-->
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">

        <!-- Flag icon-->
        <link rel="stylesheet" type="text/css" href="/css/flag-icon.css">

        <!-- Datatables css-->
        <link rel="stylesheet" type="text/css" href="/css/datatables.css">

        <!-- Bootstrap css-->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

        <!-- App css-->
        <link rel="stylesheet" type="text/css" href="/css/admin.css">

        <!-- Chartist css -->
        <link rel="stylesheet" type="text/css" href="/css/chartist.css">

        <% } else { %>
            <!-- Libraries Stylesheet -->
            <link href="/lib/animate/animate.min.css" rel="stylesheet">
            <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

            <!-- Customized Bootstrap Stylesheet -->
            <link href="/css/style.css" rel="stylesheet">
            <% } %>
</head>

<body>
    <% if(admin) { %>
        <!-- latest jquery-->
        <script src="/js/jquery-3.3.1.min.js"></script>
        <!-- page-wrapper Start-->
        <div class="page-wrapper">

            <%- include('partials/headerAdmin.ejs') %>

                <!-- Page Body Start-->
                <div class="page-body-wrapper">

                    <%- include('partials/sidebarAdmin.ejs') %>

                        <%- body %>

                            <%- include('partials/footerAdmin.ejs') %>

                </div>

        </div>
        <!-- Bootstrap js-->
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.js"></script>

        <!-- feather icon js-->
        <script src="/js/icons/feather-icon/feather.min.js"></script>
        <script src="/js/icons/feather-icon/feather-icon.js"></script>

        <!-- Sidebar jquery-->
        <script src="/js/sidebar-menu.js"></script>

        <!--dashboard custom js-->
        <script src="/js/dashboard/default.js"></script>

        <!--right sidebar js-->
        <script src="/js/chat-menu.js"></script>

        <!--height equal js-->
        <script src="/js/equal-height.js"></script>

        <!-- lazyload js-->
        <script src="/js/lazysizes.min.js"></script>

        <!--script admin-->
        <script src="/js/admin-script.js"></script>
        <% } else { %>
            <%- include('partials/header.ejs') %>

                <%- body %>

                    <%- include('partials/footer.ejs') %>

                        <!-- Back to Top -->
                        <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

                        <!-- JavaScript Libraries -->
                        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                        <script
                            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
                        <script src="lib/easing/easing.min.js"></script>
                        <script src="lib/owlcarousel/owl.carousel.min.js"></script>

                        <!-- Contact Javascript File -->
                        <script src="mail/jqBootstrapValidation.min.js"></script>
                        <script src="mail/contact.js"></script>

                        <!-- Template Javascript -->
                        <script src="js/main.js"></script>

                        <% } %>
</body>

</html>