<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>Categories
                            <small>Bigdeal Admin panel</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Categories</li>
                        <li class="breadcrumb-item active">Edit Category</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Edit Category</h5>
                    </div>
                    <div class="card-body">
                       <form action="/admin/category/editCategory/<%= Cates.category_id %>" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="category_name">Category Name:</label>
                            <input type="text" placeholder="Enter category name" name="category_name" class="form-control" value="<%= Cates? Cates.cate_name: '' %>">
                            <span class="text-danger error-message"></span>
                        </div>
                        <div class="form-group">
                            <label for="description">Category Description:</label><br>
                            <textarea name="description" placeholder="Enter category description" style="resize:none" id="description" cols="100" rows="3"><%= Cates? Cates.cate_description: '' %></textarea>
                            <span class="text-danger error-message"></span>
                        </div>
                        <div class="form-group">
                            <label for="brand_img">Category Images:</label>
                            <input type="file" name="cate_img" class="form-control">
                            <span class="text-danger error-message"></span>
                            <% if(Cates && Cates.cate_img && Cates.cate_img.length > 0){ %>
                                <div class="mt-2">
                                    <p>Current Images:</p>
                                    <img src="<%= Cates.cate_img %>" alt="Current Images" width="100px" class="img-thumbnail">
                                </div>
                                <% } %>
                            <p class="image-label">New Images:</p>
                            <div class="mt-2 new-image">
                             <img id="image-preview" src="" alt="Image Preview" style="display: none; max-width: 100px;">
                        </div>
                        <div class="form-group">
                            <label for="Category">Select Brands:</label>
                            <select name="brand_id" id="" required>
                                <option value="">Select Category</option>
                                <% for (let brand of Brands){ %>
                                    <option value="<%= brand.brand_id %>"><%= brand.brand_name %></option>
                                <% } %>
                          </select>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="hidden" id="hidden" <% if(Cates && Cates.on_store) {%> checked <% } %>> Show Category?
                        </div>
                        <button type="submit" class="btn btn-info">Edit Categories</button>
                       </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

<script src="/js/Category/ImageHandling.js"></script>