<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>Products
                            <small>Bigdeal Admin panel</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Products</li>
                        <li class="breadcrumb-item active">Create Product</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Edit Product</h5>
                    </div>
                    <div class="card-body">
                       <form action="/admin/product/editProduct/<%= product.product_id %>" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="product_name">Product Name:</label>
                            <input type="text" placeholder="Enter product name" name="product_name" class="form-control" value="<%= product? product.product_name: '' %>">
                            <span class="text-danger error-message"></span>
                        </div>
                        <div class="form-group">
                            <label for="Price">Product Price:</label>
                            <input type="number" placeholder="Enter product price" name="price" class="form-control" value="<%= product? product.price: '' %>">
                            <span class="text-danger error-message"></span>
                        </div>
                        <div class="form-group">
                            <label for="description">Product Description:</label><br>
                            <textarea name="description" placeholder="Enter product description" style="resize:none" id="description" cols="100" rows="3" ><%= product? product.description: '' %></textarea>
                            <span class="text-danger error-message"></span>
                        </div>
                        <div class="form-group">
                            <label for="product_name">Product Images:</label>
                            <input type="file" name="image" class="form-control" multiple>
                            <span class="text-danger error-message"></span>
                            <% if(product && product.image && product.image.length > 0) { %>
                                <div class="mt-2">
                                    <p>Current Images:</p>
                                    <% product.image.forEach(image => { %>
                                        <img src="<%= image %>" alt="Current Image" width="100px" class="img-thumbnail"> 
                                    <% }); %>
                                </div>
                            <% } %>
                            <p class="image-label">New Images:</p>
                                <div class="mt-2 new-image">
                                  <img id="image-preview" src="" alt="Image Preview" style="display: none; max-width: 100px;">
                                </div>
                        </div>
                        <select name="category_id" id="" required>
                            <option value="">Select Category</option>
                            <% for (let category of categories) { %>
                                <option value="<%= category.category_id %>" <% if (category.category_id === product.category_id) { %>selected<% } %>><%= category.cate_name %></option>
                            <% } %>
                        </select>                        
                        <div class="form-group">
                            <input type="checkbox" name="hidden" id="hidden" <% if(product && product.on_store) {%> checked <% } %>> Put on store?
                          </div>
                        <button type="submit" class="btn btn-info">Edit Product</button>
                       </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

<script src="/js/product/ImageHandling.js"></script>